p{
    color: blue;
    font-weight: bold;
    font-family: impact;
}
h1{
    text-align: center;
    color-scheme: yellow;
    color: red;
    font-family: arial;
}
body{
    background-color: green;
}
h3{
    color: white;
}